.singlePost{
    flex: 9;
}

.singlePostWrapper{
    padding: 20px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
}

.singlePostImg{
    width: 100%;
    height: 670px;
    border-radius: 10px;
    object-fit: contain;
}

.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
}

/* Update Form */
.singlePostTitleInput{
    text-align: center;
    margin: 10px;
    color: gray;
    font-family: 'Lora', serif;
    font-size: 28px;
}

.singlePostTitleInput:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
}
/* End */

.singlePostEdit{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    margin-bottom: 15px;
}

.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
}

.singlePostIcon:first-child{
    color: teal;
}

.singlePostIcon:last-child{
    color: tomato;
}

.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: #b39656;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
}

.singlePostContent{
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

/* Censor Task */
.singlePostEditButton{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    margin-bottom: 15px;
}

.singlePostButtonIcon{
    cursor: pointer; 
}

.singlePostButtonIcon:first-child{
    /* margin: 0 15px 0 0; */
    color: teal;
}

.singlePostButtonIcon:last-child{
    margin: 0 0 0 20px;
    color: red;
}
/* End */


/* Member Task */
.singlePostLikeButton{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    margin-bottom: 15px;
}

.singlePostButtonIconUnLike{
    color: rgb(255, 57, 57);
    cursor: pointer; 
}

.singlePostButtonIconLike{
    color: gray;
    cursor: pointer; 
}
/* End */

/* Update Form */
.singlePostContentInput{
    border: none;
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.singlePostDescInput:focus{
    outline: none;
}
/* End */

.singlePostDesc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}

/* Update Form */
.singlePostButton{
    width: 7%;
    border: none;
    background-color: teal;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}   
/* ENd */