.sidebarSetting{
    flex: 3;
    margin: 20px;
    padding: 10px 10px 30px 10px;
    /* padding-bottom: 30px; */
    background-color: #E6E8EC;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    height: 60%;
}

.sidebarSettingItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarSettingTitle{
    margin: 5px 10px 5px 10px;
    padding: 5px;
    width: 87%;

    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Valera Round', sans-serif;
    font-size: 16px;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.sidebarSettingItem > img{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    margin: 10px 0px 10px 0px;
}

.sidebarSettingItem > p{
    max-width: 380px;
    word-wrap: break-word;
    padding: 10px 20px 10px 20px;
}

.sidebarSettingList{
    list-style: none;
    margin-bottom: 30px;
}

.sidebarSettingListItem{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}

.sidebarSettingSocial{
    margin: 15px 0px 0px 0px;
    width: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebarSettingIcon{
    font-size: 36px;
    margin-right: 22%;
    cursor: pointer;
}