.sidebar{
    flex: 3;
    margin: 20px;
    padding: 10px 10px 30px 10px;
    /* padding-bottom: 30px; */
    background-color: #E6E8EC;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}

.sidebarItem{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarTitle{
    margin: 25px 10px 5px 10px;
    padding: 5px;
    width: 87%;

    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Valera Round', sans-serif;
    font-size: 16px;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.sidebarSearchItem{
    width: 90%;
    display: flex;
    align-self: flex-start;
    padding: 0 10px 0 10px;
}


.searchInput{  
    align-self: flex-start;
    padding-left: 10px; 
    width: 65%;
    height: 30px;
    border: none;
    font-size: 14px;
}

.searchButton{  
    background-color: #585D69;
    align-self: flex-end;
    margin-left: 5px;
    padding: 0%;
    width: 30%;
    height: 31px;
    border: none;
    text-align: center;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.searchButton:active{
    background-color: gray
}


.searchButton > i{
    margin: 0%;
    padding: 0 5px 0 0;
    color: white;
}
.sidebarSearchItem{
    margin: 15px;
}

.sidebarItem > p{
    padding: 30px;
}

.sidebarList{
    list-style: none;
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
}

.sidebarListItem{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
    /* font-weight: bold; */
    font-family: 'Josefin Sans', sans-serif;
}

.sidebarSocial{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarIcon{
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

/* Register */

.registerAdminForm{
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 90%; */
}

.registerAdminForm > label{
    margin: 10px 0 10px 7.5%;
    align-self: start;
}

.registerAdminInput{
    padding: 10px;
    background-color: white;
    border: none;
    width: 80%;
}

.registerAdminButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: #90EE90;
    border: none;
    color: #247324;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px;
    width: 45%;
}

.registerAdminRole{
    align-self: start;
    margin-left: 7.5%;
    width: 40%;
    height: 30px;
    font-size: 16px;
}

.holderSidebarCateItemInput{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.categoryInput{
    padding: 10px;
    background-color: white;
    border: none;
    width: 75%;
}

.sidebarCateItemButton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submitCateButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: #90EE90;
    border: none;
    color: #247324;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px;
    width: 25%;
}

.submitCateButton:first-child{
    margin-right: 10px;
}

.submitCateButton:last-child{
    margin-left: 10px;
}