.header{
    margin-top: 0px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: white;
}

.headerTitleSm{
    position: absolute;
    top: 27%;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 20px;
    font-weight: bold;
    width: 35%;
    text-align: center;
    background-color: #004370;
}

.headerTitleLg{
    position: absolute;
    top: 15%;
    font-size: 100px;
    width: 35%;
    text-align: center; 
    background-color: #004370;
    font-weight: bold;
}

.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 0px;
    object-fit: cover;
}