.postAdmin{
    width: 385px;
    margin: 0px 20px 40px 20px;
}

.postAdminImg{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
}

.postAdminInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postAdminStatusWaitInfo{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 150px;
    height: 30px;
    background-color: #C8C8C8;
    background-size: 3000px 100px;
    outline: auto;
    outline-style: round;
    box-shadow: 0 0 3pt 2pt #C8C8C8;
    outline-color: #C8C8C8;
    margin: 10px 0 10px 0 ;
    font-weight: bold;
    color: gray;
    /* border: 1px solid lightgreen; */

    font-family: 'Josefin Sans', sans-serif;
}

.postAdminStatusRejectInfo{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 150px;
    height: 30px;
    background-color: #ffa9a9;
    background-size: 3000px 100px;
    outline: auto;
    outline-style: round;
    box-shadow: 0 0 3pt 2pt #ffa9a9;
    outline-color: #ffa9a9;
    margin: 10px 0 10px 0 ;
    font-weight: bold;
    color: #F45858;
    /* border: 1px solid lightgreen; */

    font-family: 'Josefin Sans', sans-serif;
}

.postAdminStatusAcceptInfo{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 150px;
    height: 30px;
    background-color: lightgreen;
    background-size: 3000px 100px;
    outline: auto;
    outline-style: round;
    box-shadow: 0 0 3pt 2pt lightgreen;
    outline-color: lightgreen;
    margin: 10px 0 10px 0 ;
    font-weight: bold;
    color: #247324;
    /* border: 1px solid lightgreen; */

    font-family: 'Josefin Sans', sans-serif;
}

.postAdminSubInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.postAdminCats{
    margin: 0px 15px 5px 10px;
}

.postAdminCat{
    font-family: "Varela Round", sans-serif;
    font-size: 13px;
    color: #be9656;
    line-height: 20px;
    cursor: pointer;
}

.postAdminTitle{
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    text-align: left;
    margin: 10px 0px 5px 0px;
}

.postAdminDate{
    font-family: "Varela Round", sans-serif;
    /* font-family: 'Lora', serif; */
    font-style: 600;
    line-height: 20px;
    font-size: 13px;
    color: #999;
    margin: 0px 15px 5px 10px;
}

.postAdminDesc{
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}